<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<div class="container">
  <div class="details">
    <h2><%= @task.title %></h2>
    <div>
    <p class="alert alert-secondary p-2 mt-3" role="alert"><%= @task.details %></p>
    <% if @task.completed? %>
      <div><i class="far fa-check-square p-1"></i><span>This task is complete</span></div>
    <% else %>
      <div><i class="far fa-square p-1"></i><span>This task has not been completed yet</span></div>
    <% end %>
  </div>

  <br>

  <p class=" p-2"><%= link_to "Back to list", tasks_path %></p>

</div>

